body {
	margin: 0;
	padding: 0;
	background: radial-gradient(#eeaeca, #94bbe9);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
.topbar {
  overflow: hidden;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  text-align: center;
}
div.bio {
	margin: 10%;
	margin-right: 30%;
	margin-left: 30%;
	padding-left: 100px;
	padding-right: 100px;
	border: 1px black;
	background-color: azure;
	opacity: 0.5;
	font-family: "Lucida Console", Monaco, monospace;
}

div.bio:hover {
	opacity: .7;
}

div.txt h2 {
	padding: 5%;
	font-family: 'Dancing Script', cursive;
	text-align: center;
	color: #000000;
	font-weight: bold
}

div.txt p {
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 5%;
	text-align: center;
	color: black;
}

* {
	box-sizing: border-box;
}

.slider {
	width: 50%;
	margin: 100px auto;
}

.slick-slide {
	margin: 0px 20px;
}

.slick-slide img {
	width: 100%;
}

.slick-prev:before,
.slick-next:before {
	color: black;
}

.slick-slide {
	transition: all ease-in-out .3s;
	opacity: .2;
}

.slick-active {
	opacity: .5;
}

.slick-current {
	opacity: 1;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}